<div class="container">
    <h1>Edit Venue</h1>

    <div class="col-md-6">
        <%= render 'form', venue: @venue %>

    <%= link_to 'Show', @venue %> |
    <%= link_to 'Back', venues_path %>
</div>