<p id="notice"><%= notice %></p>

<div class="container">
  <p>Thank you for your interest in <%= @rsvp.event.name %></p>

  <p>See you on: <%= @rsvp.event.date %> <br/>
   at: <%= @rsvp.event.location %> </p>
   

</div>