/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
    // background-image: url("lantern.gif");
    // background-size: cover;
    background-color: rgb(224, 233, 232);
    height: 100%;
}
.nav.navbar-nav li{
    color: rgb(58, 56, 56);
    font-weight: bold;
}

ul.nav a { 
    color: #fff !important; 
}

ul.nav a:hover { 
    color: rgb(238, 5, 141) !important; 
}

.container {
    margin-top: 80px;
    padding-bottom: 60px;
}

.jumbotron.jumbotron-signin {
    background-image: image-url("mainpageimage.jpg");  
    background-size: cover;
    color: #fff ;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;

}

.btn.btn-primary.btn-lg {
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}



#map {
    height: 70%;
    width: 80%;
  }
  
  
