// Place all the styles related to the rsvps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.jumbotron-rsvp {
    background-image: image-url("rsvp.jpg");
    background-size: cover;
}

.jumbotron.jumbotron-myevents {
    background-image: image-url("myeventspage.jpg");
    background-size: cover;
}

.page-header.text-center {
    color: white;
}

